# Hidden files for different IDE (exclude this file)
!.gitignore
.*
*.kdev4
cmake-build-debug

# Build directories
build/
teb_standalone/build/

# Python
__pycache__/
*.pyc
*.pyd
*.so
*.egg-info/
dist/
